
.navbar{
    width: 100%;
    background-image: linear-gradient(180deg, black, #81CACF);
}

.navbar-items{
    margin-left: 55%;
}

.navbar-title{
    position: relative;
    left: 10px;
}

.signup-btn{
    margin-left: 10px;
}

.login-btn{
    margin-left: 45px;
}
/* Title */

.big-heading{
    font-family: 'Cookie', cursive;
    font-size: 5rem;
    margin-top: 100px;
    margin-left: 70px;  
    color: #fff;
}

.explore-btn{
    line-height: 1rem;
    margin-left: 70px;
}

#book-carousel{
    background-color: aquamarine;
}

.carousel-item{
    box-align: center;
}

.card {
    margin: 0 0.5em;
    box-shadow: 2px 6px 8px 0 rgba(22, 22, 26, 0.18);
    border: none;
    border-radius: 0;
}

.carousel-inner {
    padding: 1em;
}


